.whatButton {
  border: none !important;
}

.whatButton:hover {
  background-color: #D3D3D3 !important;
  color: #000000 !important;
}

.readyButton:hover {
  background-color: #D3D3D3;
  color: #000000 !important;
}

@media (max-width: 320px) {
  .whatButton {
    font-size: large !important;
  }
}

@media (min-width: 1366px) and (max-width: 1440px) {
  .readyParagraph {
    padding-left: 250px !important;
    padding-right: 250px !important;

  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .whatPadding {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .mt-custom {
    margin-top: 10px !important;
  }
}

.mt-custom {
  margin-top: 42px;
}

.img-custom {
  width: 40px;
  height: 40px;
}










