.hero-background {
  background-image: url("../About/image/about-img.jpg");
  background-size: cover;
  background-position: center;
}

.hero-layout {
  background: linear-gradient(to top, rgba(0, 0, 0), transparent);
  min-height: 100vh;
}

.valueCard {
  width: 320px !important;
  height: 430px;
}

.descriptionCard {
  height: 20px;
}

.slideCard {
  width: 267px !important;
  /* height: 377px; */
}

.SliderBg {
  background-color: #F6FFFA  ;
}

.arrow-link {
  margin-left: 110px;
  margin-top: 0;
  /* margin-top: 10px; */
}

.ImgCard {
  height: 255px;
}

.bodyBG {
  background: #152425 !important;
}