@use "../../colors" as *;
.ourImpactBg {
  background-color: $lightgreenbg;
}
@mixin OurImpactCardBg {
  border: 0px solid $heroblackbg;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.25);
}
.ourImpactCardBg {
  @include OurImpactCardBg();
}
.successStoryBg {
  background-color: $lightgreenbg;
}
