.jd-list-items {
  font-size: 1rem;
  font-weight: 300;
  color: var(--white);
  line-height: 1.75rem;
  font-family: "Open Sans", sans-serif;
}
.careerHeader {
  font-size: 1.6rem;
  font-weighscm-history-item:c%3A%5CUsers%5CUSER%5CDocuments%5C8thGearWebsite?%7B%22repositoryId%22%3A%22scm0%22%2C%22historyItemId%22%3A%22aa3efee8dfd35f4aab7b4e9c6e2182a993eacd58%22%2C%22historyItemParentId%22%3A%22c65b869ddc1c32a25b6288f48b25f4f9c062be9a%22%2C%22historyItemDisplayId%22%3A%22aa3efee%22%7Dt: 600;
}
.careerSubHeader {
  color: #37352f;
  font-weight: 600;
}
.careerCTAfontSize {
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  //   font-weight: 300;
}
