@use "../../colors" as *;
@use "./bgColorandTextHero" as *;
.bgImg {
  width: 100%;
  height: 500px;
  background-image: url(https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bgtext {
  color: rgb(255, 255, 255);
}

.bgimage h5 {
  color: white;
  text-shadow: 2px 2px #333;
}

// .ManagedDigitalMarketServicesHero {
//   position: relative;
//   background-repeat: no-repeat;
//   height: 80vh;
//   width: 100%;
// }

// .ManagedDigitalMarketServicesHero::before {
//   content: "";
//   background: url(/src/assets/images/hero/homehero.jpg);

//   background-size: cover;
//   position: absolute;
//   top: 0px;
//   right: 0px;
//   bottom: 0px;
//   left: 0px;
//   opacity: 0.6;
// }
// .ManagedDigitalMarketServicesHero h1 {
//   position: relative;
// }
// .ManagedDigitalMarketServicesHero h2 {
//   position: relative;
// }
.homeHeroBg {
  position: relative;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
}

.homeHeroBg::before {
  content: "";
  background: url(/src/assets/images/hero/homehero.jpg);
  // background-image: linear-gradient(
  //   to right,
  //   #252c3e,
  //   rgba(37, 44, 62, 0.66),
  //   rgba(37, 44, 62, 0.42),
  //   rgba(13, 22, 44, 0.1),
  //   rgba(37, 44, 62, 0)
  // );
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
}
.homeHeroBg h1 {
  position: relative;
}
.homeHeroBg h2 {
  position: relative;
}
.homeHeroText {
  font-size: 4rem;
  font-weight: 300;
}
.GaaSHeroText {
  font-size: 3.5rem;
  font-weight: 300;
}
.projectDeliveryHeroText {
  font-size: 3.5rem;
  font-weight: 300;
}
.homeHeroTextTwo {
  font-size: 3rem;
  font-weight: 300;
}
@media only screen and (max-width: 440px) {
  .homeHeroBg {
    height: 50vh;
  }
}
@media only screen and (max-width: 800px) and (min-width: 441px) {
  .homeHeroBg {
    height: 60vh;
  }
}
// .GaaSHeroBg {
//   position: relative;
//   background-repeat: no-repeat;
//   height: 80vh;
//   width: 100%;
// }

// .GaaSHeroBg::before {
//   content: "";
//   background: url(/src/assets/images/hero/gaas.jpg);
//   // background-image: linear-gradient(
//   //   to right,
//   //   #252c3e,
//   //   rgba(37, 44, 62, 0.66),
//   //   rgba(37, 44, 62, 0.42),
//   //   rgba(13, 22, 44, 0.1),
//   //   rgba(37, 44, 62, 0)
//   // );
//   background-size: cover;
//   position: absolute;
//   top: 0px;
//   right: 0px;
//   bottom: 0px;
//   left: 0px;
//   opacity: 0.6;
// }
// .GaaSHeroBg h1 {
//   position: relative;
// }
// .GaaSHeroBg h2 {
//   position: relative;
// }
.callToAction {
  position: relative;
}
@media only screen and (max-width: 440px) {
  .GaaSHeroBg {
    height: 50vh;
  }
}
@media only screen and (max-width: 800px) and (min-width: 441px) {
  .GaaSHeroBg {
    height: 60vh;
  }
}
.EventsHeroBg {
  position: relative;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
}

.EventsHeroBg::before {
  content: "";
  background: url(/src/assets/images/hero/eventshero.jpg);
  // background-image: linear-gradient(
  //   to right,
  //   #252c3e,
  //   rgba(37, 44, 62, 0.66),
  //   rgba(37, 44, 62, 0.42),
  //   rgba(13, 22, 44, 0.1),
  //   rgba(37, 44, 62, 0)
  // );
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  // opacity: 0.6;
}
.EventsHeroBg h2 {
  position: relative;
}
.EventsHeroBg h3 {
  position: relative;
}
@media only screen and (max-width: 440px) {
  .EventsHeroBg {
    height: 50vh;
  }
}
@media only screen and (max-width: 800px) and (min-width: 441px) {
  .EventsHeroBg {
    height: 60vh;
  }
}
// .heroFontSize {
//   line-height: 2.2rem;
// // }

//coworking page section
.CoworkingHeroBgg::before {
  content: "";
  position: absolute;
  background-color: #2e3133;
  height: 80vh;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}
// .CoworkingHeroBg {
//   position: absolute;
//   height: 80vh;
//   width: 100%;
// }

.CoworkingHeroBg {
  // content: "";
  background: url(/src/assets/images/hero/coworking1.jpg);
  background-size: cover;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 80vh;
  width: 100%;
}

.CoworkingHeroBg h2 {
  position: relative;
}
.CoworkingHeroBg h3 {
  position: relative;
}

.CoworkingOffersBgg::before {
  content: "";
  position: absolute;
  background-color: #2e3133;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}

.CoworkingOffersBg {
  // content: "";
  background: url(/src/assets/images/hero/coworking-workspace.jpg);
  background-size: cover;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 300%;
  width: 100%;
}

.CoworkingOffersBg .coworkingGrid {
  position: relative;
}
.CoworkingOffersBg .coworkingGrid {
  position: relative;
}

.CoworkingTestmonialBgg::before {
  content: "";
  position: absolute;
  background-color: #2e3133;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
}

.CoworkingTestmonialBg {
  // content: "";
  background: url(/src/assets/images/hero/coworking2.jpg);
  background-size: cover;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 300%;
  width: 100%;
}

.CoworkingTestmonialBg .coworkingTestCards h3 {
  position: relative;
}
.CoworkingTestmonialBg .coworkingTestCards h3 {
  position: relative;
}

//Our Model hero
// .OurModelHeroBgg::before {
//   content: "";
//   position: absolute;
//   background-color: #2e3133;
//   height: 70vh;
//   width: 100%;
//   top: 0px;
//   right: 0px;
//   bottom: 0px;
//   left: 0px;
//   opacity: 0.6;
// }

// .OurModelHeroBg {
//   background: url(/src/assets/images/hero/legal.jpg);
//   background-size: cover;
//   position: relative;
//   top: 0px;
//   right: 0px;
//   bottom: 0px;
//   left: 0px;
//   height: 70vh;
//   width: 100%;
// }

// .OurModelHeroBg h2 {
//   position: relative;
//   line-height: 45px;
// }
// .OurModelHeroBg h3 {
//   position: relative;
//   line-height: 35px;
// }

//managedservices digital marketing hero
.GaaSHeroBgg::before {
  content: "";
  position: absolute;
  background-color: #2e3133;
  height: 70vh;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
}

.GaaSHeroBg {
  background: url(/src/assets/images/hero/istockphoto-641479320-612x612.jpg);
  background-size: cover;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 70vh;
  width: 100%;
}

.GaaSHeroBg h2 {
  position: relative;
  line-height: 70px;
}
.GaaSHeroBg h3 {
  position: relative;
  line-height: 45px;
  font-size: 2rem !important;
}
//managedservices digital marketing hero
.ManagedServicesDigitalMargetingHeroBgg::before {
  content: "";
  position: absolute;
  background-color: #2e3133;
  height: 70vh;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
}

.ManagedServicesDigitalMargetingHeroBg {
  background: url(/src/assets/images/hero/digitalmarketinghero.jpg);
  background-size: cover;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 70vh;
  width: 100%;
}

.ManagedServicesDigitalMargetingHeroBg h2 {
  position: relative;
  line-height: 45px;
}
.ManagedServicesDigitalMargetingHeroBg h3 {
  position: relative;
  line-height: 35px;
}
//managedservices legal hero
.ManagedServicesLegalHeroBgg::before {
  content: "";
  position: absolute;
  background-color: #2e3133;
  height: 70vh;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
}

.ManagedServicesLegalHeroBg {
  background: url(/src/assets/images/hero/legal.jpg);
  background-size: cover;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 70vh;
  width: 100%;
}

.ManagedServicesLegalHeroBg h2 {
  position: relative;
  line-height: 45px;
}
.ManagedServicesLegalHeroBg h3 {
  position: relative;
  line-height: 35px;
}
//managedservices tech hero
.ManagedServicesTechHeroBgg::before {
  content: "";
  position: absolute;
  background-color: #2e3133;
  height: 70vh;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}

.ManagedServicesTechHeroBg {
  background: url(/src/assets/images/hero/techhero.jpeg);
  background-size: cover;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 70vh;
  width: 100%;
}

.ManagedServicesTechHeroBg h2 {
  position: relative;
  line-height: 45px;
}
.ManagedServicesTechHeroBg h3 {
  position: relative;
  line-height: 35px;
}
//managedservices accounting hero
.ManagedServicesAccountingHeroBgg::before {
  content: "";
  position: absolute;
  background-color: #2e3133;
  height: 80vh;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}

.ManagedServicesAccountingHeroBg {
  background: url(/src/assets/images/hero/acc.jpeg);
  background-size: cover;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 80vh;
  width: 100%;
}

.ManagedServicesAccountingHeroBg h2 {
  position: relative;
  line-height: 45px;
}
.ManagedServicesAccountingHeroBg h3 {
  position: relative;
  line-height: 35px;
}

@media only screen and (max-width: 990px) {
  .ManagedServicesAccountingHeroBgg::before,
  .ManagedServicesTechHeroBgg::before,
  .ManagedServicesLegalHeroBgg::before,
  .ManagedServicesDigitalMargetingHeroBgg::before,
  .GaaSHeroBgg::before,
  .CoworkingHeroBgg::before {
    height: 22.5rem;
  }
  .ManagedServicesAccountingHeroBg,
  .ManagedServicesTechHeroBg,
  .ManagedServicesLegalHeroBg,
  .ManagedServicesDigitalMargetingHeroBg,
  .GaaSHeroBg,
  .CoworkingHeroBg {
    height: 22.5rem;
  }
}
// .ourModelHeroBg {
//   background: url(/src/assets/images/hero/ourmodel.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 100vh;
//   opacity: 1;
// }
.ourModelHeroBg {
  position: relative;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
}

.ourModelHeroBg::before {
  content: "";
  background: url(/src/assets/images/hero/ourmodelhero.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
}
.ourModelHeroBg h2 {
  position: relative;
}
.ourModelHeroBg h3 {
  position: relative;
}
.ourModelHeroBg h4 {
  position: relative;
}
@media only screen and (max-width: 440px) {
  .ourModelHeroBg {
    height: 50vh;
  }
}
@media only screen and (max-width: 575px) and (min-width: 441px) {
  .ourModelHeroBg {
    height: 60vh;
  }
}

.projectDeliveryHeroBg {
  background: url(/src/assets/images/hero/projectdelivery.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  // margin: 20px;
  // width: 300px;
  // height: 200px;
  height: 100vh;
  // opacity: 1;
}
.gradientBg {
  background-image: linear-gradient(
    to right,
    #252c3e,
    rgba(37, 44, 62, 0.66),
    rgba(37, 44, 62, 0.42),
    rgba(37, 44, 62, 0.1),
    rgba(37, 44, 62, 0)
  );
}
.overlayBg {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1;
  top: 60;
  left: 0;
}
.projectDeliveryHeroBg h1 {
  position: relative;
}
.projectDeliveryHeroBg h2 {
  position: relative;
}
@media only screen and (max-width: 440px) {
  .projectDeliveryHeroBg {
    height: 50vh;
  }
}
@media only screen and (max-width: 650px) and (min-width: 441px) {
  .projectDeliveryHeroBg {
    height: 60vh;
  }
}

.demoDayHeroBg {
  position: relative;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
}

.demoDayHeroBg::before {
  content: "";
  background: url(/src/assets/images/hero/demodayhero.JPG);
  // background-image: linear-gradient(
  //   to right,
  //   #252c3e,
  //   rgba(37, 44, 62, 0.66),
  //   rgba(37, 44, 62, 0.42),
  //   rgba(13, 22, 44, 0.1),
  //   rgba(37, 44, 62, 0)
  // );
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
}
.demoDayHeroBg h2 {
  position: relative;
}
.demoDayHeroBg h3 {
  position: relative;
}
@media only screen and (max-width: 440px) {
  .demoDayHeroBg {
    height: 50vh;
  }
}
@media only screen and (max-width: 800px) and (min-width: 441px) {
  .demoDayHeroBg {
    height: 60vh;
  }
}
// .demoDayHeroBg {
//   background: url(/src/assets/images/hero/demodayhero.JPG);
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   height: 100vh;
// }

// @media only screen and (max-width: 440px) {
//   .demoDayHeroBg {
//     height: 50vh;
//   }
// }
// @media only screen and (max-width: 575px) and (min-width: 441px) {
//   .demoDayHeroBg {
//     height: 60vh;
//   }
// }
// .demoDayHeroBg h2 {
//   position: relative;
// }
// .demoDayHeroBg h3 {
//   position: relative;
// }
.piggeryTrainingHeroBg {
  background: url(/src/assets/images/hero/piggerytraininghero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
@media only screen and (max-width: 440px) {
  .piggeryTrainingHeroBg {
    height: 50vh;
  }
}
@media only screen and (max-width: 575px) and (min-width: 441px) {
  .piggeryTrainingHeroBg {
    height: 60vh;
  }
}
.piggeryTrainingHeroBg h1 {
  position: relative;
}
.piggeryTrainingHeroBg h2 {
  position: relative;
}
.GIZHeroBg {
  background: url(/src/assets/images/hero/GIZhero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
@media only screen and (max-width: 440px) {
  .GIZHeroBg {
    height: 50vh;
  }
}
@media only screen and (max-width: 575px) and (min-width: 441px) {
  .GIZHeroBg {
    height: 60vh;
  }
}
.GIZHeroBg h1 {
  position: relative;
}
.GIZHeroBg h2 {
  position: relative;
}
.LSETFHeroBg {
  background: url(/src/assets/images/hero/lsetfhero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
@media only screen and (max-width: 440px) {
  .LSETFHeroBg {
    height: 50vh;
  }
}
@media only screen and (max-width: 575px) and (min-width: 441px) {
  .LSETFHeroBg {
    height: 60vh;
  }
}
.LSETFHeroBg h1 {
  position: relative;
}
.LSETFHeroBg h2 {
  position: relative;
}
.hackathonHeroBg {
  background: url(/src/assets/images/hero/hackathon.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
@media only screen and (max-width: 440px) {
  .hackathonHeroBg {
    height: 50vh;
  }
}
@media only screen and (max-width: 575px) and (min-width: 441px) {
  .hackathonHeroBg {
    height: 60vh;
  }
}
.hackathonHeroBg h1 {
  position: relative;
}
.hackathonHeroBg h2 {
  position: relative;
}
.ITFHeroBg {
  background: url(/src/assets/images/hero/ITF.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
@media only screen and (max-width: 440px) {
  .ITFHeroBg {
    height: 50vh;
  }
}
@media only screen and (max-width: 575px) and (min-width: 441px) {
  .ITFHeroBg {
    height: 60vh;
  }
}
.ITFHeroBg h1 {
  position: relative;
}
.ITFHeroBg h2 {
  position: relative;
}

.heroTextColor {
  color: $sectextcolor;
}
.cool {
  width: auto;
  height: 50vh;
  background-image: url(https://media.macphun.com/img/uploads/customer/blog/347/15361508215b8fcd25b13f46.53184133.jpg?q=85&w=1680);

  background-repeat: no-repeat;
  //   background-position: center;
  background-size: cover;
  //   background-attachment: fixed;
}

.stop {
  color: rgb(255, 255, 255);
}
