@use "../../colors" as *;
.BlogReadMoreBtn {
  border: 3px solid $btncolor;
  color: $prytextcolor;
  border-radius: 0.938rem;
}

@mixin BlogReadMoreLinkBtn {
  // font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 1.129rem;
  line-height: 1.313rem;
  text-transform: capitalize;

  color: none;
}

.BlogReadMoreLinkBtn a {
  color: #821e6b !important;
  @include BlogReadMoreLinkBtn;
}

@mixin SubmitCommentBtn {
  background: #ffffff;
  border: 3px solid $btncolor;
  border-radius: 2.188rem;
}

.SubmitCommentBtn {
  @include SubmitCommentBtn;
}

@mixin FacebookBtn {
  background-color: #001d87;
  border-radius: 2.188rem;
  border: 3px solid #001d87;
}

.FacebookBtn {
  @include FacebookBtn;
}
