.BookNowBtn {
  width: auto;
  height: 30px;
  background-color: #821e6b;
  color: #ffffff;
  font-size: 14px;
  border-radius: 35px;
  border: none;
}

.BookaSessionBtn {
  width: auto;
  height: 30px;
  background-color: #821e6b;
  color: #ffffff;
  font-size: 14px;
  border-radius: 35px;
  border: none;
}

.BookaFreeSessionBtn {
  width: auto;
  height: 30px;
  background-color: #821e6b;
  color: #ffffff;
  font-size: 14px;
  border-radius: 35px;
  border: none;
}
