.PreviousBtn{
    box-sizing: border-box;
    text-align: center;
    width: 50px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #821E6B;
    border-radius: 30px;
}

.NextBtn{
    box-sizing: border-box;
    text-align: center;
    width: 50px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #821E6B;
    border-radius: 35px;
}