@use "../colors" as *;

.SectionTwoBg {
  background-color: $lightgreenbg;
}
@mixin CardBg {
  background-color: $lightgreenbg;
  border: 3px solid $bordercolor;
}
.cardBg {
  @include CardBg;
}

.homePageText {
  font-size: 1.2rem;
  // font-weight: 600;
}
.headerText {
  text-decoration: none !important;
  color: $prytextcolor;
  &:hover {
    color: $prytextcolor;
  }
}
.textFont {
  font-size: 1.1rem;
}
// .borderLine {
//   border: 3px solid black;
// }
