.center{
    text-align: center;
    width: auto;
}

.ManagedServicesRequestForm-Container{
    border: 1px solid blac;
    margin: auto;
}

// .ManagedServicesRequestForm-Text{
//     margin-bottom: 50px;
// }