$prybgcolor: #FFFFFF;
$lightgreenbg: rgba(0, 164, 149, 0.07);
$heroblackbg:rgba(0, 0, 0, 0.9);
$darkgreenbg:#00A495;
$managedservicestestimonialbg:rgba(16, 15, 15, 0.3);
$prytextcolor: #000;
$sectextcolor: #FFFFFF;
$btncolor:#821E6B;
$textbtnonhover: #FFFFFF;
