$prybgcolor: #ffffff;
$lightgreenbg: rgba(0, 164, 149, 0.07);
<<<<<<< HEAD
=======
$bordercolor: #00a495;
>>>>>>> 1181c7562d4b829eb77abecd9aeecf9c3d73df48
$heroblackbg: rgba(0, 0, 0, 0.9);
$darkgreenbg: #00a495;
$managedservicestestimonialbg: rgba(16, 15, 15, 0.3);
$prytextcolor: #000;
$sectextcolor: #ffffff;
$btncolor: #821e6b;
$textbtnonhover: #ffffff;
<<<<<<< HEAD
$facebookcolorbtn: #001d87;
$testimonialCards: #404040;
=======
>>>>>>> 1181c7562d4b829eb77abecd9aeecf9c3d73df48
