@use "./colors" as *;

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--white);
<<<<<<< HEAD
=======
  font-family: "Rubik", sans-serif;
>>>>>>> 1181c7562d4b829eb77abecd9aeecf9c3d73df48
}

h2 {
  font-size: 2rem;
  font-weight: 600;
<<<<<<< HEAD
=======
  font-family: "Rubik", sans-serif;
>>>>>>> 1181c7562d4b829eb77abecd9aeecf9c3d73df48
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
<<<<<<< HEAD
=======
  font-family: "Rubik", sans-serif;
>>>>>>> 1181c7562d4b829eb77abecd9aeecf9c3d73df48
}
h4 {
  font-size: 1.3rem;
  font-weight: 600;
<<<<<<< HEAD
}

h5 {
  font-weight: 500;
=======
  font-family: "Rubik", sans-serif;
}

h5 {
  font-weight: 300;
  font-family: "Rubik", sans-serif;
>>>>>>> 1181c7562d4b829eb77abecd9aeecf9c3d73df48
}

p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--white);
  line-height: 1.75rem;
<<<<<<< HEAD
=======
  font-family: "Open Sans", sans-serif;
>>>>>>> 1181c7562d4b829eb77abecd9aeecf9c3d73df48
}
