.sidecard {
  width: 100vw;
}

.blogarticle {
  width: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
}

.MainCard {
  width: 100%;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  padding: 20px;
  position: absolute;
}

.blogCategory {
  position: fixed;
  width: 100%;
}

.blogtext {
  font-size: 1.5vw;
}

.blogPagE {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.text-fluid1 {
  font-size: 1vw;
}

.sideimg {
  width: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.manageSvcard {
  position: relative;
  text-align: center;
  color: white;
}

.manageCardText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2vw;
}

* {
  box-sizing: border-box;
  font-family: "Karla", Rubik;
}

body {
  margin: 0;
  padding: 0 !important;
  overflow: visible !important;
}

.LinkedInBtn {
  background-color: rgb(12, 97, 191);
  border-radius: 2.1875rem;
  color: white;
  width: 9rem;
  height: 2.8125rem;
}

.icon {
  margin-right: 0.5rem;
}

.InstagramBtn {
  background-color: rgb(216, 43, 117);
  border-radius: 2.1875rem;
  color: white;
  width: 9rem;
  height: 2.8125rem;
}

.ShareBtn {
  background-color: rgb(183, 255, 65);
  border-radius: 2.1875rem;
  color: white;
  width: 9rem;
  height: 2.8125rem;
}

.BlogReadMoreBtn {
  border: 3px solid #821e6b;
  color: #000 !important;
  border-radius: 20px;
  width: 8rem;
  height: 2.5rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.BlogReadMoreLinkBtn a {
  color: #821e6b !important;
  font-style: normal;
  font-weight: 700;
  font-size: 1.129rem;
  line-height: 1.313rem;
  text-transform: capitalize;
  color: none;
}

.SubmitCommentBtn {
  border: 3px solid #821e6b;
  color: #000 !important;
  border-radius: 20px;
  width: 12rem;
  height: 2.5rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.FacebookBtn {
  border-radius: 2.1875rem;
  color: white;
  width: 9rem;
  height: 2.8125rem;
  background-color: #001d87;
  border-radius: 2.188rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--white);
  font-family: "Rubik", sans-serif;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
}

h4 {
  font-size: 1.3rem;
  font-weight: 600;
}

h5 {
  font-weight: 300;
  font-family: "Rubik", sans-serif;
}

p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--white);
  line-height: 1.75rem;
  font-family: "Open Sans", sans-serif;
}

.OnHoverReadMoreBtn {
  background-color: #821e6b;
  color: #ffffff !important;
  border-radius: 20px;
  width: 8rem;
  height: 2.5rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.LearnMoreBtn {
  border: 3px solid #821e6b;
  color: #000 !important;
  border-radius: 20px;
  width: 8.55rem;
  height: 2.5rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.RequestForProposalBtn {
  border: 3px solid #821e6b;
  color: #000 !important;
  border-radius: 20px;
  width: 15.5rem;
  height: 2.5rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.ProjectDeliveryViewMoreBtn {
  border: 3px solid #821e6b;
  color: #000 !important;
  border-radius: 20px;
  width: 8rem;
  height: 2.5rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.ManagedServicesPageTestimonialCard {
  background-color: #404040 !important;
  justify-items: right !important;
}

.linkedin {
  background-color: #fff !important;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.section-center {
  margin: 0 auto;
  margin-top: 4rem;
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
}

.img-fluid rounded-start {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid var(--clr-grey-8);
  box-shadow: var(--dark-shadow);
}

article h4 {
  text-transform: uppercase;
  color: var(--clr-primary-5);
  margin-bottom: 0.25rem;
}

.title {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: var(--clr-grey-3);
}

.text {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: var(--clr-grey-5);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  background: var(--clr-grey-5);
  color: var(--clr-white);
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 20%;
  cursor: pointer;
  transition: var(--transition);
  padding-bottom: 30px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background: var(--clr-primary-5);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

@media (min-width: 800px) {
  .text {
    max-width: 45em;
  }
  .prev,
.next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}
.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

.lastSlide {
  transform: translateX(-100%);
}

.nextSlide {
  transform: translateX(100%);
}

.line {
  border: 2px solid #821e6b !important;
}

.navbar {
  margin: 8px;
  color: #ffffff;
}

.constructionpage {
  max-width: 100%;
  width: fit;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.expired-notice {
  text-align: center;
  padding: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.expired-notice > span {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}

.expired-notice > p {
  font-size: 1.5rem;
}

.show-counter {
  padding: 0.5rem;
}

.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #000;
}

.show-counter .countdown {
  line-height: 1.25rem;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show-counter .countdown.danger {
  color: #ff0000;
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}

.SectionTwoBg {
  background-color: rgba(0, 164, 149, 0.07);
}

.cardBg {
  background-color: rgba(0, 164, 149, 0.07);
  border: 3px solid #00a495;
}

.homePageText {
  font-size: 1.2rem;
}

.ManagedServicesHeroText {
  color: rgba(0, 0, 0, 0.9);
  font-family: Rubik;
  font-weight: 500;
  font-size: 1.8em;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  padding: 150px 100px 0px 100px;
}

.PortfolioHeroText {
  color: #ffffff !important;
}

.PortfolioHeroBg {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.9);
}

.BookNowBtn {
  border: 3px solid #821e6b;
  color: #000 !important;
  border-radius: 20px;
  width: 8rem;
  height: 2.5rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.BookaSessionBtn {
  border: 3px solid #821e6b;
  color: #000 !important;
  border-radius: 20px;
  width: 11rem;
  height: 2.5rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.BookaFreeSessionBtn {
  border: 3px solid #821e6b;
  color: #000 !important;
  border-radius: 20px;
  width: 18.5rem;
  height: 2.5rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.JointheStudioBtn {
  border: 3px solid #821e6b;
  color: #000 !important;
  border-radius: 20px;
  width: 11rem;
  height: 2.5rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
.JointheStudioBtn:hover {
  background-color: #821e6b;
  color: #fff;
}
.JointheStudioBtn:focus {
  background-color: #821e6b;
  color: #ffffff;
}

.JointheTeamBtn {
  border: 3px solid #821e6b;
  color: #000 !important;
  border-radius: 20px;
  width: 11rem;
  height: 2.5rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.JointheTeamBtn {
  border: 2.5px solid #821e6b;
  border-radius: 1.1875rem;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  background-color: white;
  padding: 0.4rem 1.5rem;
}

.SubmitFormBtn {
  border: 2.5px solid #821e6b;
  border-radius: 1.1875rem;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  background-color: white;
  padding: 0.4rem 1.5rem;
}

.SuggestAnEventBtn {
  border: 3px solid #821e6b;
  color: #000 !important;
  border-radius: 20px;
  width: 13rem;
  height: 2.5rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.LetUsKnowBtn {
  border: 3px solid #821e6b;
  color: #000 !important;
  border-radius: 20px;
  width: 9rem;
  height: 2.5rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.EventViewMoreBtn {
  border: 3px solid #821e6b;
  color: #000 !important;
  border-radius: 20px;
  width: 8rem;
  height: 2.5rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.GetYourTicketBtn {
  border: 3px solid #821e6b;
  color: #000 !important;
  border-radius: 20px;
  width: 11rem;
  height: 2.5rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.textbutton {
  text-decoration: none !important;
  color: #000;
}

.BorderOf1px {
  padding: 1px;
  border: 1px solid black;
  width: 106px;
}

.ProjectDeliveryManagedServicesCardText {
  font-size: 20px;
  color: white;
  font-weight: 900;
  margin-top: 100px;
}

.bg-pic1 {
  height: 400px;
  background-size: cover;
}

.bg-pic2 {
  background-image: url(../assets/images/Physiology2.jpg);
  height: 400px;
  background-size: cover;
}

.bg-pic3 {
  background-image: url(../assets/images/Genetics.jpg);
  height: 400px;
  background-size: cover;
}

.bg-pic4 {
  background-image: url(../assets/images/Plantpathology1.jpg);
  height: 400px;
  background-size: cover;
}

.bg-logo1 {
  height: 300px;
}

.bg-logo2 {
  background-image: url(../assets/images/logo.png);
  height: 300px;
  background-size: cover;
  border: 1px solid black;
}

.bg-logo3 {
  background-image: url(../assets/images/logo.png);
  height: 300px;
  background-size: cover;
  border: 1px solid black;
}

.bg-logo4 {
  background-image: url(../assets/images/logo.png);
  height: 300px;
  background-size: cover;
  border: 1px solid black;
}

.TextAlignCenter {
  text-align: center;
}

.AllPortfoliosLogoCard {
  border: none;
}

.TractionsBg {
  background-color: #00a495;
}

.tractionsCardBg {
  background-color: #00a495;
  border: 3px solid #ffffff;
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

.WhatWeDoBg {
  background-color: rgba(0, 164, 149, 0.07);
}

.ourImpactBg {
  background-color: rgba(0, 164, 149, 0.07);
}

.ourImpactCardBg {
  border: 3px solid rgba(0, 0, 0, 0.9);
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.25);
}

.successStoryBg {
  background-color: rgba(0, 164, 149, 0.07);
}

.howItWorksBg {
  background-color: rgba(0, 164, 149, 0.07);
}

.sectionOneBg {
  background-color: rgba(0, 164, 149, 0.07);
}

.eventsCardBg {
  background-color: rgba(0, 164, 149, 0.07);
  border: 3px solid #00a495;
}

.carouselText {
  bottom: 40%;
  height: 500px;
}

.request {
  text-align: center;
}

.submit {
  text-align: center;
  box-sizing: border-box;
  width: 100px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #821e6b;
  border-radius: 30px;
}

.sub {
  text-align: center;
}

.prop {
  text-align: center;
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #821e6b;
  border-radius: 30px;
}

.whyChooseUsBg {
  background-color: rgba(0, 164, 149, 0.07);
}

.whyChooseUsCardBg {
  border: 3px solid #00a495;
  border-radius: 60px;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.25);
}

.center {
  text-align: center;
  width: auto;
}

.ManagedServicesRequestForm-Container {
  border: 1px solid blac;
  margin: auto;
}

.div1::before {
  content: "";
  background-image: url(../assets/images/logo.png);
  background-size: 250px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 20%;
  background-position: center;
}

.request {
  text-align: center;
}

.submit {
  text-align: center;
  box-sizing: border-box;
  width: 100px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #821e6b;
  border-radius: 30px;
}

.sub {
  text-align: center;
}

.prop {
  text-align: center;
  box-sizing: border-box;
  width: 200px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #821e6b;
  border-radius: 30px;
}

.NavBar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  height: 4.6875rem !important;
  font-size: 18px;
  margin-top: 10px;
}

.JointheStudioBtn:hover {
  background-color: #821e6b;
}

.link {
  color: #ef00c0;
  text-align: center;
  line-height: 3px;
}

.teamcardbody {
  border-radius: 0px;
  border-bottom: 5px solid #00a495 !important;
  border-right: 5px solid #00a495 !important;
  border-left: 5px solid #00a495 !important;
}

.Teampic {
  display: block;
  width: 100%;
}

.Text {
  line-height: 1px;
}

.bgImg {
  width: 100%;
  height: 500px;
  background-image: url(https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bgtext {
  color: rgb(255, 255, 255);
}

.bgimage h5 {
  color: white;
  text-shadow: 2px 2px #333;
}

.background {
  background-image: url(/src/assets/images/digital\ marketing.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100vh;
}

video {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  position: relative;
  height: 100vh;
  text-align: center;
  justify-content: center;
}

.contactUsTitle {
  text-align: center;
  color: #821e6b;
}

.submit {
  text-align: center;
  box-sizing: border-box;
  width: 100px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #821e6b;
  border-radius: 30px;
}

.sub {
  text-align: center;
}

.prop {
  text-align: center;
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #821e6b;
  border-radius: 30px;
}

.cards {
  text-align: center;
}

.containerm {
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AdvisoryImage {
  overflow: hidden;
  height: 300px;
  width: 300px;
  position: relative;
  cursor: pointer;
  margin: 0 15px;
  box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  background-color: #555;
}

.AdvisoryImage:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  transform: translate(-140%, -50%);
  background-color: gray;
  opacity: 0.8;
  border-radius: 50%;
  transition: 0.8s;
}

.AdvisoryImage:hover:after {
  transform: translate(-50%, -50%);
}

.AdvisoryImage:hover .AdvisoryIcon {
  transform: translate(-50%, -50%) scale(1.3);
}

.AdvisoryIcon {
  position: absolute;
  height: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.8s;
}

.AdvisoryName {
  position: absolute;
  text-align: center;
  line-height: 90%;
  font-size: small;
  font-weight: bold;
  z-index: 2;
  top: 75%;
  left: 50%;
  transform: translate(-2000px, -50%);
  color: #fff;
  transition: 0.8s;
  transition-timing-function: ease-in;
}

.AdvisoryImage:hover .AdvisoryName {
  transform: translate(-50%, -50%);
  transition-timing-function: ease;
}

.AdvisoryPosition {
  position: absolute;
  text-align: center;
  font-size: small;
  z-index: 2;
  top: 83%;
  left: 50%;
  transform: translate(-2000px, -50%);
  color: #fff;
  transition: 0.8s;
  transition-timing-function: ease-in;
}

.AdvisoryImage:hover .AdvisoryPosition {
  transform: translate(-50%, -50%);
  transition-timing-function: ease;
}

.AdvisoryLink {
  position: absolute;
  text-align: center;
  font-size: xx-small;
  z-index: 2;
  top: 92%;
  left: 50%;
  transform: translate(-2000px, -50%);
  color: #fff;
  transition: 0.8s;
  transition-timing-function: ease-in;
}

.AdvisoryImage:hover .AdvisoryLink {
  transform: translate(-50%, -50%);
  transition-timing-function: ease;
}

.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
  padding: 1em;
  box-sizing: border-box;
  color: white;
}

.blogBody {
  text-align: center;
}

.border {
  border-radius: 20px;
}

.blogImage {
  width: 50vh;
}
/*# sourceMappingURL=styles.css.map */