@use "../colors" as *;

.SuggestAnEventBtn {
  border: 2px solid $btncolor;
  border-radius: 50px;
  border-width: 2px;
  margin: 3px;
  background-color: $prybgcolor;
}

.LetUsKnowBtn {
  border: 2px solid $btncolor;
  border-radius: 50px;
  margin: 5px;
  background-color: $prybgcolor;
}

.EventViewMoreBtn {
  border: 2px solid $btncolor;
  border-radius: 50px;
  background-color: $prybgcolor;
  margin: 5px;
}

.GetYourTicketBtn {
  border: none;
  border-width: 2px;
  border-radius: 50px;
  background-color: $btncolor;
  margin: 5px;
}
.textbtn {
  color: white;
  margin: 5px;
}
.textbutton {
  margin: 5px;
}
