@use "../colors" as *;

.ul_top_hypers {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
.text-fluid {
  font-size: 1.2vw;
}
.text-fluid2 {
  font-size: 1.6vw;
}
#iconsize {
  //   font-size: 2vw;
  color: $darkgreenbg;
  position: fixed;
}

#iconsize2 {
  font-size: 1.4rem;
  color: $darkgreenbg;
  //   position: fixed;
}
.mobile-icon {
  list-style-type: none;
}
// .ul_for_footer {
//   list-style-type: none;
//   display: flex;
// }
.md-footer-line {
  width: 98vw;
}
.newsLetterUnderline {
  width: 15vw;
}
.text-fluid1 {
  font-size: 1.7vw;
}
.footerLogo {
  width: 4.2vw;
}
.footerLogo2 {
  width: 4.7vw;
}

.footerText {
  text-decoration: none;
  color: black;
  font-weight: 100;
}
.icons-for-footer {
  display: flex;
}

.footerIcon {
  list-style-type: none;
}
.footerFormField {
  outline: none;
}
.hrForBigScreen {
  width: 17vw;
}
.firstSignUp {
  font-size: 1.3vw;
}
.secondSignUp {
  font-size: 1.8vw;
}
