<<<<<<< HEAD
@use "../components/buttons" as *;

@mixin NavBar {
  font-size: 18px;
  width: 100%;
  margin-top: 10px;
}

.NavBar {
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: #ffffff;
  @include NavBar;
}

.JointheStudioBtn:hover {
  background-color: #821e6b;
}

.navbar-toggler-icon {
  display: inline-block;
  height: 1.5em;
  vertical-align: middle;
  width: 1.5em;
  font-size: 1.25rem;
  line-height: 1;
  padding: 0.25rem 0.75rem;
  transition: box-shadow 0.15s ease-in-out;
=======
.navbarShadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.icons {
  position: fixed;
>>>>>>> 1181c7562d4b829eb77abecd9aeecf9c3d73df48
}
