@use "../components/buttons" as *;

@mixin NavBar {
  font-size: 18px;
  width: 100%;
  margin-top: 10px;
}

.NavBar {
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: #ffffff;
  @include NavBar;
}

.JointheStudioBtn:hover {
  background-color: #821e6b;
}

.navbar-toggler-icon {
  display: inline-block;
  height: 1.5em;
  vertical-align: middle;
  width: 1.5em;
  font-size: 1.25rem;
  line-height: 1;
  padding: 0.25rem 0.75rem;
  transition: box-shadow 0.15s ease-in-out;
}
