/* footer ul li a {
    font-weight: 300 !important; 
    font-size: 0.9rem; 
  }
   */
  /* footer ul li {
    font-weight: 300 !important; 
    font-size: 0.9rem;
  }
   */
.text-green {
    color: #008261 !important;
}
  