.sidecard {
  // border: none;
  width: 100vw;
}

.blogarticle {
  width: 100%;
  width: fit-content;
  block-size: fit-content;
}

.MainCard {
  width: 100%;
  // width: fit-content;
  block-size: fit-content;
  padding: 20px;
  position: absolute;
}
.blogCategory {
  position: fixed;
  width: 100%;
}
.blogtext {
  font-size: 1.5vw;
}
.blogPagE {
  width: fit-content;
}

.card1 {
  // width: 30rem;
}
.text-fluid1 {
  font-size: 1vw;
}

.sideimg {
  width: 100%;
  width: fit-content;
}
