.BorderOf1px{
    padding: 1px;
    border: 1px solid black;
    width: 106px;
}

.ProjectDeliveryManagedServicesCardText{
    font-size: 20px;
    color: white;
    font-weight: 900;
    // margin-top: 100px;
}

.bg-pic1{
    // width: 330px;
    height: 400px;
    background-size: cover;
}

.bg-pic2{
    background-image: url(../assets/images/Physiology2.jpg);
    // width: 330px;
    height: 400px;
    background-size: cover;
}

.bg-pic3{
    background-image: url(../assets/images/Genetics.jpg);
    // width: 330px;
    height: 400px;
    background-size: cover;
}

.bg-pic4{
    background-image: url(../assets/images/Plantpathology1.jpg);
    // width: 330px;
    height: 400px;
    background-size: cover;
}


.bg-logo1{
    // width: 330px;
    height: 300px;
    // border: 1px solid black;
    // float: left;
}

.bg-logo2{
    background-image: url(../assets/images/logo.png);
    // width: 330px;
    height: 300px;
    background-size: cover;
    border: 1px solid black;
    // float: left;
}

.bg-logo3{
    background-image: url(../assets/images/logo.png);
    // width: 330px;
    height: 300px;
    background-size: cover;
    border: 1px solid black;
    // float: left;
}

.bg-logo4{
    background-image: url(../assets/images/logo.png);
    // width: 330px;
    height: 300px;
    background-size: cover;
    border: 1px solid black;
    // float: left;
}

.TextAlignCenter{
    text-align: center;
}

.AllPortfoliosLogoCard{
    border: none;
}